*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Fuente */

@font-face {
    font-family:"Inter" ;
    src: url(/00-html-css/fonts/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary:#1173d4;
    --primary-dark: #0a3d66;
    --primary-hover:#0d5ba8;
    --primary-light:#09f;
    /* --background: #06182a; */
    --background: #101922;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: #ffffff1a;
    --card-bg: #1e293b;
    --shadow: #0000004d;
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}

a{
    text-decoration: none;
}





body{
    /* font-family: system-ui; */
    font-family: 'Inter';
    background-color:  var(--background);
    color: var(--text-primary);
    min-height: 100vh;  /*total de la altura de la pantalla */
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    /* text-align: center; */
}



/* INICIO HEADER */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    border-bottom: 1px solid var(--border);
    /* justify-content: space-between; */

    .cont-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1216px;
        height: 4rem;
        
        .cont-nav-logo{
            display: flex;
            gap: 2rem;

            .logo-devjob{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                
                svg{
                    width: 32px;
                    height: 32px;
                    color: var(--primary);
                    font-weight: 900;
                    
                }
    
                span{
                    margin-left: 9px;
                    font-family: 'Inter';
                    font-weight: 900;
                    font-size: 20px;
                    letter-spacing: 1px;
                }
                
            }
    
            nav{
                line-height: 40px;
                
                    
                ul{
                    display: flex;
                    list-style: none;
                    gap: 24px;
                        
                    li{

                        a:hover{
                            color: var(--primary-hover);
                        }

                        a{
                            color: white;
                            font-size: 14px;
                            font-family: 'Inter';
                        }
                    }
                }
            }

        }


        .reg-header{
            width: 148px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .btn-cv:hover{
                background: rgb(17  115 212 /0.3);
            }

            .btn-cv{
                width: 91px;
                height: 36px;
                background: rgb(10 61 102/ 0.5);
                opacity: 1;
                font-size: 14px;
                border: none;
                border-radius: 8px;
                color: rgb(17 115 212/ 0.8);
                font-weight: 700;
                font-family: 'Inter';
            }

            .img-header{
                background-image: url(../img/Avatar.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 100%;
                border-radius: 100%;
                width: 45px;
                height: 45px;
            }

        }
    } 
}

/* FIN HEADER */


/* INICIO TEXTO TITULO */

main{
    /* width: 100%; */
    width: 1120px;
    margin: 0 auto;
    /* margin-top: 40px; */
    padding: 48px;

    .container{
        /* width: 1024px; */
        margin: 0 auto;

        .text-titulo{
            text-align: center;
            margin-bottom: 48px;
            
            h1{
                font-size: 48px;
                font-weight: 900;
                letter-spacing: 1px;
            }

            p{
                font-size: 18px;
            }
        }

        .cont-form{
            display: flex;
            align-items: center;
            height: 50px;
            background: #1f293780;
            border: 1px solid var(--border);
            border-radius: 0.5rem;

            form{
                display: flex;
                align-items: center;
                gap: 20px;
                

                a{
                    display: flex;
                    margin-left: 15px;
                    color: var(--text-muted);
                    
                    
                    svg{
                        width: 20px;
                        margin-right: -10px;
                        margin-top: -4px;
                        
                    }

                }

                input{
                    width: 975px;
                    height: 40px;
                    background: #1f293780;
                    border-radius: 0.5rem;
                    border: none;
                    outline: none;
                    font-size: 1rem;
                    line-height: 1.5;
                    
                    
                }

                

                input::placeholder{
                    color: var(--text-muted);
                    opacity: 0.5;
                    cursor: text;
                }

                input:focus{
                    color: white;
                    font-size: 18px;
                }

                
            }
        }

        .cont-busqueda{
            width: 100%;
            
            .nav{
                width: 1024px;


                .ul{
                    display: flex;
                    /* width: 1024px; */
                    list-style: none;
                    gap: 20px;
                    

                    li, select:hover{
                            background: #4c5d7680;
                        }
                        
                    li, select{
                        display: flex;
                        height: 40px;
                        background: #37415180;
                        /* padding: 8px 16px; */
                        margin-top: 30px;
                        /* box-sizing: border-box; */
                        border-radius: 0.5rem;
                        color: white;
                        text-align: center;

                        a, option{
                            color: white;
                            font-size: 14px;
                            height: 40px;
                            font-family: 'Inter';
                            font-weight: 500;
                            background: #37415180;
                            
                        }

                        /* svg{
                            width: 16px;
                            height: 24px;
                            margin-left: 10px;
                            
                            } */


                            

                    }

                

                }

                

                

            
            }

        }
    }
}

/* FIN TEXTO TITULO */


/* INICIO ARTÍCULOS */

.cont-art{
    margin-top: 30px;
    
    h2{
        margin-bottom: 30px;
    }

    article:nth-child(2){
            border-start-end-radius: 1rem;
            border-start-start-radius: 1rem;
            
        }
    article:nth-child(5){
            border-end-end-radius: 1rem;
            border-end-start-radius: 1rem;
            
        }



    article:hover{
        background: #1f293780;
        transition: 300ms;
    }

    

    article{
        display: flex;
        border: 1px solid var(--border);
        padding: 20px;


        div{
            width: 869px;
            p:nth-child(2){
            color: #9CA3AF;
            margin-bottom: 10px;
            
        }
            h3{
                font-size: 18px;
            }

            p{
                font-size: 14px;
                margin: 4px;
            }
            
        }

        button:hover{
            background: var(--primary-hover);
        }

        button{
            width: 88px;
            height: 40px;
            background: var(--primary);
            border-radius: 0.5rem;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }

        
    }

    
}

/* FIN ARTÍCULOS */



/* INICIO INDICE */

.indice{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

   

    .pas-pagina{
        width: 40px;
        height: 40px;
        color: white;
        text-align: center;
        line-height: 50px;
        transition: all 0.3s;
        
        
        &:hover{
            width: 40px;
            height: 40px;
            background: #4c5d7680;
            border-radius: 0.5rem;
            border: none;
            cursor: pointer;
        
                svg{
                    text-align: center;
                    margin: 8px;
                }
        }
    }
    
    ul{
        display: flex;
        gap: 20px;
        list-style: none;
        font-size: 14px;
        margin-left: 20px;
        margin-right: 20px;

        li:nth-child(1){
            background: var(--primary);
            border-radius: 0.5rem;
            border: none;
        }

        
        
        li{
            width: 40px;
            height:40px ;
            text-align: center;
            line-height: 36px;
            
            &:not(:first-child):hover{

                background: #4c5d7680;
                border-radius: 0.5rem;
                border: none;
                cursor: pointer;
            }
            
            a{
                color: white;
                font-size: 14px;
                font-weight: 500;
            }

        }

        
    }
}
/* FIN INDICE */


#boton-importante{
    background: #0d5ba8;
}


