*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary:#1173d4;
    --primary-dark: #0a3d66;
    --primary-hover:#0d5ba8;
    --primary-light:#09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}





body{
    font-family: system-ui;
    background-color:  var(--background);
    color: var(--text-primary);
    min-height: 100vh;  /*total de la altura de la pantalla */
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    text-align: center;
}



main > section:nth-child(2) footer{

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

        gap: 1rem;

    }

/* @media (width >= 640px){
    main > section:nth-child(2) footer{
        grid-template-columns: repeat(3, 1fr);
    }
} */

article{
    background-color: var(--card-bg);
    padding: 2rem;
    margin-bottom: 16px;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.5);
    text-align: center;

    svg{
        color: var(--primary-light);
        background: rgba(0, 153, 255, .3);
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 16px;
    }

    p{
        color: var(--text-muted);
        
    }

    h3{
        font-weight: 500;
    }

}

footer{
    text-align: center;
}